*{
	margin:auto;
	padding: 0px;
}
.container{
	max-width: 90%;
}

h1{
	font-weight: bolder;
	font-size: 50px;
}
h2{
	font-size: 30px;
}
ol li{
	font-size: 20px;
	padding: 10px;
}

/* style of rounded corners */

#rcorner1{
	border-radius: 25px;
	background: #8ac007;
	padding: 20px;
	width: 200px;
	height: 150px;
	float: none;
}
#rcorner1_1{
	border-radius:15px 50px 30px 5px;
	background: #a44170;
	padding: 20px;
	width: 200px;
	height: 150px;
	float: none;
}
#rcorner1_2{
	border-radius: 15px 100px 50px;
	background: #a44170;
	padding: 20px;
	width: 200px;
	height: 150px;
	float: none;
}
#rcorner1_3{
	border-radius: 15px 100px;
	background: #a44170;
	padding: 20px;
	width: 200px;
	height: 150px;
	float: none;
}
#rcorner2 {
	border-radius: 25px;
	border: 2px solid #8ac007;
	padding: 20px;
	width: 200px;
	height: 150px;
	float: none;
}
#rcorner3 {
	border-radius: 25px;
	background: url(img/wallpaper.jpg);
	background-position: center;
	background-repeat: repeat;
	padding: 20px;
	width: 200px;
	height: 150px;
	float: none;
}

/* style of shadows */
/* parameters represents */
/* text-shadow: x-asix y-axix blur color */

.shadow1{
	color: green;
	text-shadow: 2px 2px black;
}
.shadow2{
	text-shadow: 12px 12px red;
}
.shadow3 {
	text-shadow: 12px 12px 5px red;
}
.shadow4{
	color: white;
	text-shadow: 2px 2px 4px black;
}
.shadow5{
	text-shadow: 0 0 3px #ff0000;
}

#div{
	width: 300px;
	height: 100px;
	padding: 15px;
	background-color: red;
	box-shadow: 10px 10px 5px green;
}

/* styles for border images */

#border1{
	border: 10px solid transparent;
	padding: 15px;
	border-image-source: url(img/wallpaper.jpg);
	border-image-repeat: round;
	border-image-slice: 30;
	border-image-width: 10px;
}
#border2{
	border: 10px solid transparent;
	padding: 15px;
	border-image-source: url(img/simple_boreder.JPEG);
	border-image-repeat: round;
	border-image-slice: 30;
	border-image-width: 20px;
}
#border3{
	border: 10px solid transparent;
	padding: 15px;
	border-image-source: url(img/colorful_boreder.JPEG);
	border-image-repeat: repeat;
	border-image-slice: 30;
	border-image-width: 30px;
}

/* style for multibackgraound */

#multibackground{
	background-image: url(img/logo.png), url(img/simple_boreder.JPEG);
	background-position: left top ,center;
	background-repeat: no-repeat, no-repeat;
	padding: 5px;
}

/* style for clors */
/* parameter of rgba */
/* background-color: rgba(red,green,blue,opacity) */

#c1{
	background-color: rgba(255, 0, 0, 1);
}
#c2{
	background-color: rgba(0, 255, 0, 0.3);
}
#c3{
	background-color: rgba(0, 0, 255, 0.5);
}

/* another style for color by using hsl */
/* background-color:hsl(hue,saturate,light) */
#hsl1{
	background-color: hsl(120, 100%, 50%);
}
#hsl2{
	background-color: hsl(120, 100%, 75%);
}
#hsl3{
	background-color: hsl(120, 100%, 25%);
}
#hsl4{
	color: white;
	background-color: hsl(120, 0%, 10%);
}

/* styles for gradient */
/* 
-webkit- for global type of browser
-o- for opera menu browser
-moz- for mozila firefox browser 
*/

#grad1{
	height: 300px;
	width: 800px;
	background: -webkit-linear-gradient(pink,green);
	background: -o-linear-gradient(pink,green);
	background: -moz-linear-gradient(pink,green);
	background: linear-gradient(pink,green);
}

#grad2{
	height: 300px;
	width: 800px;
	background: -webkit-linear-gradient(left top, red,blue);
}
#grad3{
	height: 300px;
	width: 600px;
	background: repeating-radial-gradient(gold,green,yellow,orange,red);
}
#grad4{
	height: 300px;
	width: 600px;
	background: repeating-conic-gradient(gold,green,yellow,orange,red);
}
#grad5{
	height: 300px;
	width: 600px;
	background: repeating-linear-gradient(gold,blue,green)
}

/* style for multiple column */

.multicol{
	column-count: 3; /* this will count column */
	column-gap: 20px; /* this will be make gap between the collumn */
	column-rule-style: solid; /* this will show horizontal line betwn two column */
}

/* styles for text */

p.txt1{
	white-space: nowrap;
	width: 200px;
	border: 1px solid black;
	overflow: hidden;
	text-overflow: clip;
}
p.txt2{
	white-space: nowrap;
	width: 200px;
	border: 1px solid black;
	overflow: hidden;
	text-overflow: ellipsis;
}
p.txt3{
	width: 140px;
	border: 1px solid black;
	word-break: keep-all;
}
p.txt4{
	width: 140px;
	border: 1px solid black;
	word-break: break-all;
}
div.text{
	white-space: nowrap;
	width: 200px;
	overflow: hidden;
	border: 1px solid black;
}
div.text:hover{
	text-overflow: inherit;
	overflow: visible;
}

/* style and use of webfonts */
@font-face {
	font-family: MyFont; /* defining the name of the font */
	src: url(font/fontname.woff);  /* full path of the url */
}
div.newfont{
	font-family: myFont; /* calling the font defined before */
}

/* css for 2-d transform */

div#trans2d{
	width: 300px;
	height: 150px;
	background-color: pink;
	border: 1px solid black;
	-ms-transform: rotate(40deg); /* for IE 9 */
	-webkit-transform: rotate(20deg); /* for Safari */
	transform: rotate(40deg); /* standard synta */
}
div#trans2d_1{
	width: 300px;
	height: 150px;
	background-color: pink;
	border: 1px solid black;
	transform: skew(10deg, 20deg); /* standard synta */
}
div#trans2d_2{
	width: 300px;
	height: 150px;
	background-color: pink;
	border: 1px solid black;
	transform: skewX(15deg); /* standard synta */
}
div#trans2d_3{
	width: 300px;
	height: 150px;
	background-color: pink;
	border: 1px solid black;
	transform: skewY(15deg); /* standard synta */
}

/* css for 3d transform */

#trans3d{
	width: 200px;
	height: 150px;
	background-color: green;
	border: 1px solid black;
	-webkit-transform: rotateX(120deg);
}
#trans3d_1{
	width: 200px;
	height: 150px;
	background-color: green;
	border: 1px solid black;
	-webkit-transform: rotateY(120deg);
}
#trans3d_2{
	width: 200px;
	height: 150px;
	background-color: green;
	border: 1px solid black;
	-webkit-transform: rotateZ(120deg);
}